<main class="overview">
  <section class="header">
  {{> 'base/_svg-background'}}

    <div class="page-inner page-header">
      <h1>Medicijn zoeken</h1>
    </div>
  </section>

  <div class="page-inner">
    <section class="overview__search">
      <form action="/overview-search" method="POST">
        <fieldset>
          <label>
            <span>Zoek op registratie nummer of naam</span>
            <span class="error">{{ error }}</span>
            <input type="text" name="multi_search" placeholder="Bijv. RVG 06566 of Strepsils">
          </label>
        </fieldset>
        <fieldset>
          <button class="btn -default" type="submit"><span>Zoeken</span></button>
        </fieldset>
      </form>
    </section>

    <section class="overview__cards">
      {{#if medicines}}
        <h2>Gevonden resultaten</h2>
      {{/if}}
      {{#each medicines}}
        {{> 'overview/_card'}}
      {{/each}}
    </section>
  </div>
</main>
{{> 'base/_footer' }}
