<footer class="footer">
  <nav class="footer__navigation">
    <ul>
      <li>
        <a href="#">Disclaimer</a>
      </li>
      <li>
        <a href="#">Privacy verklaring</a>
      </li>
    </ul>
  </nav>
</footer>
