<header class="global-header">
  <div class="page-inner">
    <a href="/">
      <img class="global-header__logo" src="./visuals/images/medscan-logo-v1.png" alt="Medscan logo">
    </a>
  </div>
</header>
