<noscript>
  <style type="text/css">
      .cta, .cta-bottom-header {display:none;}
  </style>
  <div class="no-script-msg">
    <div class="page-inner">
      <h2>
        Uw Javascript staat uit!
      </h2>

      <p>
        Als u gebruik wilt maken van de medicijn scanner heeft u javascript nodig. U kunt natuurlijk ook altijd handmatig uw medicijn zoeken.
      </p>

      <ul class="no-script-msg__options">
        <li>
          <a class="btn -link" href="https://support.microsoft.com/nl-nl/office/javascript-inschakelen-7bb9ee74-6a9e-4dd1-babf-b0a1bb136361#:~:text=Klik%20op%20het%20pictogram%20Gereedschap,sites%20JavaScript%20uitvoeren%20(aanbevolen)." target="_blank">
            <span>Hoe zet ik javascript aan?</span>
          </a>
        </li>
        <li>
          <a class="btn -link" href="/overview"><span>Handmatig zoeken</span></a>
        </li>
      </ul>   
    </div>    
  </div>
</noscript>