<section class="scanner">
  <div class="video-wrapper">
    <video class="scanner__video" autoplay="true" id="scanner_element"></video>
  </div>

  <div id="tesseract_output_container" class="tesseract__output-container"></div>
  <section class="overview__cards -scanner"></section>
</section>
