<section class="scanner">
  <div class="page-inner">
    <div class="scanner__video-wrapper">
      <video class="scanner__video" autoplay="true" id="scanner_element"></video>
    </div>
    <section class="tesseract__output-container">
      <h2>Uw invoer</h2>
      <div id="tesseract_output_container" class="tesseract_output">
      </div>
    </section>
  <section id="scanner__introduction" class="scanner__introduction">
      <h2>Krijgt u binnen enkele seconden geen resultaat?</h2>
      <ul class="_styled">
        <li>Zorg dat de naam of registratienummer goed in beeld is.</li>
        <li>Zorg voor goede verlichting.</li>
        <li>Zorg ervoor dat andere text zo min mogelijk in beeld is.</li>
        <li>Probeer zo min mogelijk te bewegen.</li>
      </ul>
    </section>
    <section class="overview__cards -scanner"></section>
  </div>
</section>
