<!-- TODO: Add content -->
<main>
  {{> 'base/_svg-background'}}
  <section class="offline">
    <div>
      <h1>Connectie error</h1>
      <p>
        Het lijkt er op dat u problemen met uw internet ondervind.
      </p>
    </div>
  </section>
</main>

{{> 'base/_footer'}}
