<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <!-- TODO SITE DESCRIPTION SEO  -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/dist/site.css">
    <link rel="icon" type="image/png" href="/visuals/images/favicon-v1.png"/>
    <link rel="manifest" href="/manifest.json">

    <script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js' defer></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch.umd.ejs" defer></script>
    <script src="./dist/main.js" defer></script>
    <script src="./local-storage.js" defer></script>

    <title>Medicijn scanner</title>
  </head>
  <body>
    {{> 'base/_header'}}

    {{{body}}}

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('service-worker.js')
            .then(regis => {
              regis.update()
              console.log('sw registered 😎', regis.scope)
            })
            .catch(err => {
              console.log('😥 sw registration failed: ', err)
            })
        })
      }
    </script>
  </body>
  </html>
