
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- TODO SITE DESCRIPTION SEO  -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO INCLUDE BUNDLED JS AND CSS HERE -->
    <link rel="stylesheet" type="text/css" href="/dist/site.css">

    <script type="module" src="./dist/main.js"></script>

    <title>Medicijn scanner</title>
  </head>
  <body>
    {{{body}}}

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('service-worker.js')
            .then(regis => {
              regis.update()
              console.log('sw registered 😎', regis.scope)
            })
            .catch(err => {
              console.log('😥 sw registration failed: ', err)
            })
        })
      }
    </script>
  </body>
