  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- TODO SITE DESCRIPTION SEO  -->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- TODO INCLUDE BUNDLED JS AND CSS HERE -->
  <link rel="stylesheet" href="/bundle/site.css">
  <script type="module" src="./"></script>

  <title>Medicijn scanner</title>
</head>
<body>
    {{{body}}}
</body>