@font-face {
  font-family: AvenirNext;
  src: url('/fonts/AvenirNextLTPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: AvenirNextBold;
  font-weight: bold;
  src: url('/fonts/AvenirNextLTPro-Bold.otf') format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: AvenirNext, sans-serif;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 1 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  &._styled {
    margin: 0.625rem 0;
    padding-left: 2.5rem;
    list-style: initial;
  }

  &._inline {
    li {
      display: inline-block;
      margin-right: 0.625rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;

  svg {
    width: 100%;
    height: 100vh;
  }

  &__rectangle {
    width: 100vw;
    height: 100%;
  }
}

// TODO check if this needs to be removed
//.default-header {
  //padding: 2rem 1rem;
  //margin: 3rem 0;
  //background-color: var(--white);
  //color: var(--primary-color);
  //font-family: AvenirNextBold;
//}

.page-inner {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  h1 {
    margin: 0;
    padding: 1.5rem 12rem;
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 3rem;
  }
}

.text-center {
  text-align: center;
}

.no-script-msg {
  width: 100%;
  padding: .5rem .5rem 2rem;
  background-color: var(--primary-color);
  color: var(--white);

  p {
    font-size: 1.2rem;
  }

  a {
    margin-top: 2rem;
  }

  &__options {
    margin-top: 4rem;

    li {
      display: block;
      height: 60px;
      margin-bottom: 1rem;

      @media screen and (min-width: 60rem) {
        display: inline-block;
      }
    }

  }
}

.error {
  display: block;
  color: var(--error-color);
}

.output-highlight {
  background: var(--secondary-color);
  padding: 0.625rem 2.5rem;

  &._secondary {
    background: var(--light-grey);
  }
}
