@font-face {
  font-family: AvenirNext;
  src: url('/fonts/AvenirNextLTPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: AvenirNextBold;
  font-weight: bold;
  src: url('/fonts/AvenirNextLTPro-Bold.otf') format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  font-family: AvenirNext, sans-serif;
}

footer {
  flex: 0 1 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -10;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  svg {
    width: 100%;
    height: 100vh;
  }

  &__rectangle {
    width: 100%;
    height: 100vh;
  }

  &.-as-header {
    max-height: 32vh;

    &:before, svg {
      max-height: 32vh;
    }
  }
}

.default-header {
  padding: 2rem 1rem;
  margin: 3rem 0;
  background-color: var(--white);
  color: var(--primary-color);
  font-family: AvenirNextBold;
}

.page-inner {  
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.error {
  color: var(--error-color);
}
