.btn {
  position: relative;
  padding: .8rem;
  border: 3px solid var(--primary-color);
  font-family: AvenirNextBold;
  background-color: var(--white);
  cursor: pointer;

  @media screen and (min-width: 30rem) {
    padding: 1rem 2rem;
  }

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    transition: all .2s;
  }

  &::before {
    top: -0.3rem;
    bottom: -0.3rem;
    left: 1rem;
    right: 1rem;
  }

  &::after{
    left: -0.3rem;
    right: -0.3rem;
    top: 1rem;
    bottom: 1rem;
  }

  &:hover, &:focus {
    border-radius: 3px;
    border-color: var(--primary-color);

    &::before {
      left: 2rem;
      right: 2rem;
    }

    &::after{
      top: 2rem;
      bottom: 2rem;
    }

    span {
      color: var(--primary-color);
    }
  }

  span {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--secondary-color);
    transition: all .2s;
  }
}

.-primary {
  @extend .btn;

  border-color: var(--primary-color);

  span {
    color: var(--secondary-color);
  }
}

.-secondary {
  @extend .btn;

  border-color: var(--grey);

  &::before {
    top: -0.3em;
    bottom: -0.3em;
    left: .7rem;
    right: .7rem;
  }

  &::after{
    left: -0.3em;
    right: -0.3em;
    top: .7rem;
    bottom: .7rem;
  }

  span {
    color: var(--grey);
  }
}

.-small {
  @extend .btn;

  padding: 0.625rem;
}

.-link {
  @extend .btn;

  border-color: var(--secondary-color);
  background: transparent;

  &::after, &::before {
    background-color: var(--primary-color);
  }

  &:hover, &:focus {
    border-color: var(--white);

    span {
      color: var(--white)
    }
  }

  span {
    color: var(--secondary-color)
  }
}
