:root {
  --white: #fff;
  --black: #000;
  --primary-color: #1D1EFF;
  --secondary-color: #0EE8B7;
  --tertiary-color: #02ffc6;
  --error-color: #FF3F36;
  --light-grey: #eee;

  --medium-device-breakpoint: 30rem;
  --large-device-breakpoint: 60rem;
}
