<main>
  {{> 'base/_svg-background'}}
  <article class="introduction">
    <div>
      <header class="introduction__header">
        <h1>Medicijn scanner</h1>
        <p>Direct de juiste informatie over uw medicijn(en)</p>
      </header>
      <section class="introduction__cta">
        <h2>Medicijn scannen:</h2>
        <p>
          Door het scannen van het registratie nummer of de naam van uw medicijn kan u snel informatie over het medicijn ophalen. Probeer het medicijn
          zo goed mogelijk te scannen om ervoor te zorgen dat u de juiste informatie krijgt te zien.
        </p>
        <h2>
          Medicijn zoeken:
        </h2>
        <p>
          Toch liever uw medicijn opzoeken zonder de camera van uw laptop of telefoon te gebruiken?, zoek dan uw medicijn door het invullen van registratie nummer
          of naam van uw medicijn.
        </p>
        <ul>
          <li>
            <a href="/scan-medicine">Medicijn scannen</a>
          </li>
          <li>
            <a href="/overview">Medicijn zoeken</a>
          </li>
        </ul>
      </section>
    </div>
  </article>
</main>

{{> 'base/_footer' }}
