<main>
  <section class="cta _small">
    {{> 'base/_svg-background'}}
    <div class="page-inner">
      <div class="cta__content-container">
        <div class="cta__content">
          <h1>
            Scan de naam of registratienummer van het medicijn
          </h1>
        </div>
      </div>
    </div>
  </section>
  {{> 'base/_no-js-msg'}}
  
  {{> 'base/_scanner'}}
  <section class="overview__cards"></section>
</main>

{{> 'base/_footer'}}
