<section id="history-notification" class="notification is-hidden">
  <div class="page-inner">
    <h2>Uw zoekgeschiedenis</h2>
    <p>We hebben <span id="history-count"></span> medicijn(en) gevonden in uw zoekgeschiedenis</p>
    <button class="btn-tertiary">Toon zoekgeschiedenis</button>

    <section id="history-container" class="notification__history-container">
      
    </section>
  </div>
</section>