.scanner {
  padding: 2.5rem 0;

  &__video-wrapper {
    font-size: 0;
    text-align: left;

    video {
      width: 480px;
      height: 175px;
      background: var(--grey);
    }
  }

  &__introduction {
    &._hide {
      display: none;
    }
    &._show {
      display: block;
    }
  }
}

.tesseract {
  &__output-container {
    width: 100%;
    margin: 0 0 3rem;
    padding: 2rem 0 1.25rem;
    background-color: var(--white);

    h2 {
      margin: 0;
    }

    em {
      margin-right: 5px;
      &:first-child {
        margin-left: 5px;
      }
    }

    button {
      margin-top: 0.65rem;
    }
  }
}
